body {
    padding: 50px;
}
#container {
    width: 100%;
    height: 290px;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  
    Animation Property
    responsible for setting your animation up
    
    bobble: name of animation
    2s:     duration (seconds)
    infinite: the number of times animation will loop

    */
#hexagon {
   
}

@keyframes bobble {
    0% {
        transform: translateY(10px);

    }
    50% {
        transform: translateY(40px);

    }
    100% {
        transform: translateY(10px);
     }
}