body {
    padding: 50px;
}
#container {
    padding: 20px;
    width: 100%;
    height: 250px;
    background-color: #EEE;
    text-align: center;
}

/*  
    Animation Property
    responsible for setting your animation up
    
    bobble: name of animation
    2s:     duration (seconds)
    infinite: the number of times animation will loop

    */
#hexagon {
    animation: bobble 2s infinite; 
}

@keyframes bobble {
    0% {
        transform: translateY(10px);

    }
    50% {
        transform: translateY(40px);

    }
    100% {
        transform: translateY(10px);
     }
}